In [6]:
csb = {"이름" : "홍길동", "나이" : 20, "키" : 168}

class1_4 = {"이름" : ["홍길동", "김철수", "최영희"],
           "나이" : [20, 21, 22],
           "키" : [168,177,204]}

In [7]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [11]:
class1_4["발 사이즈"] = [290, 275, 240]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [12]:
del class1_4["발 사이즈"]
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [13]:
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [14]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [15]:
for i in class1_4:
    print(i)

이름
나이
키

In [16]:
"홍길동" in class1_4

False

### class1_4의 "이름"key에 할당된 value들을 전부 성을 뺀 이름들로 출력하고 싶습니다. 
- 홍길동>길동
- 김철수>철수
- 김영희>영희

In [25]:
new_names = []
for i in class1_4["이름"]:
    print(i[1:])

길동
철수
영희

In [ ]:
new_names = []
for i in class1_4["이름"]:
    new_name.append(i[1:])
class1_4["이름"] = new_name
class1_4

In [26]:
class1_4["이름"]=["길동", "철수", "영희"]
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [28]:
jegop = [i**2 for i in range(10)]
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.

In [6]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

- 이 때, 학생들의 평균을 저장하는 새로운 항복을 추가하고 싶다.
- scores에 학생들의 수학, 영어, 국어 평균 성적을 기록한 "성적"정보를 추가해주세요.

In [9]:
math = 0
eng = 0
kor = 0
for i in scores:
    math = math + scores[i]["수학"]
    eng = eng + scores[i]["영어"]
    kor = kor + scores[i]["국어"]
    
scores["평균 점수"] = {"국어" : kor/len(scores), "영어" : eng/len(scores), "수학" : math/len(scores)}
print(scores)

{'홍길동': {'수학': 99, '영어': 80, '국어': 75}, '김미정': {'영어': 67, '국어': 87, '수학': 55}, '정수진': {'수학': 67, '국어': 41, '영어': 23}, '평균 점수': {'국어': 67.66666666666667, '영어': 56.666666666666664, '수학': 73.66666666666667}}

In [10]:
dirty = 73.366666666
round(dirty)

73

In [11]:
import math

In [12]:
math.floor(dirty)

73

In [13]:
math.ceil(dirty)

74

In [14]:
round(dirty, 2)

73.37

In [17]:
int(1.4)

1

In [25]:
new_id = "DWDQ"
new_id = new_id.lower()
new_id

'dwdq'