지수연산

In [1]:
3 ** 4

81

In [5]:
"안녕" * 3

'안녕안녕안녕'

In [6]:
"2" + "10" + "7"

'2107'

In [9]:
a = input("입력: ")

입력: 12

시간 파싱하기
- "2022년 8월 10일 오전/오후 2시 32분 10초"

In [10]:
import datetime
datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2022-08-10 14:33:08'

In [26]:
now = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
year = now[:4]
month = now[5:7]
day = now[8:10]
hour = now[11:13]
minute = now[14:16]
second = now[17:]

print(f"{year}년 {month}월 {day}일 {hour}시 {minute}분 {second}초")

2022년 08월 10일 14시 46분 08초

In [23]:
now

'2022-08-10 14:44:54'

- input함수로 초 단위의 시간을 받습니다.
- 그 시간을 시간, 분, 초로 나누어서 출력합니다.
- 예시)3653을 받으면, 1시간 0분 53초를 출력

In [38]:
time = int(input("초 단위의 시간을 입력해 주세요: "))
hour = time//3600
minute = time%3600//60
second = time%60

print(f"{hour}시 {minute}분 {second}초")

초 단위의 시간을 입력해 주세요: 3411
0시 56분 51초

- input 함수로 num에 임이의 정수를 입력받습니다.
- 입력된 수가 2의 배수이자 3의 배수이면 True, 그렇지 않으면 False를 출력합니다.

- input 함수로 num에 임이의 정수를 입력받습니다.
- 입력된 수가 2의 배수이거나 3의 배수이면 True, 그렇지 않으면 False를 출력합니다.

In [53]:
num = int(input("정수를 입력하세요: "))

num%2 == 0 and num%3 == 0

정수를 입력하세요: 4

False

In [52]:
num = int(input("정수를 입력하세요: "))

num%2 == 0 or num%3 == 0

정수를 입력하세요: 2

True